<form>
    <div class="row">
        <div class="col xl-mt-3">
                    <button type="button">
                    <h3><a href="/flights">Flights</a> </h3>
                    </button>
        </div>
    </div>
</form>