<div class="short-announce" id="short-announce">
    <div class="announce-grid-container">
        <span id="pop-title"></span>
        <span id="pop-date"></span>
        <span id="pop-content"></span>
        <button>Κλείσιμο</button>
    </div>
</div>