<div class="sidebar" id="sidebar">Σύντομες Ανακοινώσεις
    <ul>
        {{#each announcements}}
        <li id="{{id}}" data-date="{{date}}" data-text="{{content}}">{{title}}</li>
        {{/each}}
    </ul>
</div>