<div class="sidebar" id="sidebar">Σύντομες Ανακοινώσεις
    <ul>
        {{#each announcementList}}
        <li id="{{a_id}}" data-date="{{date}}" data-text="{{textContent}}">{{title}}</li>
        {{/each}}
    </ul>
</div>