<main>
    <a href="https://commons.wikimedia.org/wiki/File:Another_Airplane!_(4676723312).jpg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Another_Airplane%21_%284676723312%29.jpg"
            width="800" height="450">
    </a>
</main>