<main id="main-about">
    <a href="https://commons.wikimedia.org/wiki/File:Another_Airplane!_(4676723312).jpg" id="pic1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Another_Airplane%21_%284676723312%29.jpg"
            width="800" height="450">
    </a>
    <span>Our travel agency is here to help you plan the trip of your dreams. Here since 2023.</span>
</main>