<main>
    <form id="admin-board">
        <button type="button">
            <h3><a href="/admin/flights">Flights</a></h3>
        </button>
        <button type="button">
            <h3><a href="/admin/users">Users</a></h3>
        </button>
        <button type="button">
            <h3><a href="/admin/announcements">Announcements</a></h3>
        </button>
        <li>
            <a href="/profile"> {{username}} </a>
        </li>

        <button type="button">
            <a href="/logout">Logout</a>
        </button>

    </form>
</main>