<main>
    <form id="admin-board">
        <button type="button">
            <h3><a href="/admin/flights">Flights</a></h3>
        </button>
        <button type="button">
            <h3><a href="/admin/users">Users</a></h3>
        </button>
        <button type="button">
            <h3><a href="/admin/tickets">Tickets</a></h3>
        </button>
    </form>
</main>