<form>
    <div class="row">
        <div class="col mt-3">
                    <button type="button">
                    <h3><a href="/flights">Flights</a> </h3>
                    </button>
        </div>
        <div class="col mt-3">
            <button type="button">
                <h3><a href="/users">Users</a> </h3>
            </button>
        </div>
        <div class="col mt-3">
            <button type="button">
                <h3><a href="/tickets">Tickets</a> </h3>
            </button>
        </div>
    </div>
</form>