<main>
    <div class="planner-container">
        <div class="search-area">
            <div class="selector-group">
            <label for="from-location">Από</label>
            <select id="from-location">
                <option value="" disabled selected hidden>Προέλευση</option>
            </select>
            </div>
            <div class="selector-group">
            <label for="destination-location">Πρός</label>
            <select id="destination-location">
                <option value="" disabled selected hidden>Προορισμός</option>
            </select>
            </div>
                <input type="date">
            <button id="searchtrips" disabled>Αναζήτηση</button>
        </div>
        <div class="departures" id="departures"><form><fieldset><legend>Δρομολόγια</legend><ul></ul></fieldset><button disabled>Αγορά</button></form></div>
    </div>
</main>