{{!-- some temporary code to test login insered at the top --}}

<main>
    <form id="user-login-area" method="POST" action="/login/try">
        <!--
            add server side js to validate user and start session
            -->
        <fieldset>
            <legend>Στοιχεία σύνδεσης</legend>
            <label for="username-box">Όνομα χρήστη</label>
            <input name="username" type="text" id="username-box">
            <label for="password-box">Κωδικός χρήστη</label>
            <input name="password" type="password" id="password-box">
        </fieldset>
        <button>Σύνδεση</button>
    </form>
    <!--
        to do:
        add client-side js to 
            hide signup form and show upon button click
            validate email adress and form filling out
        add server-side js to create the user 
        -->
    <button id="not-registered">Δεν έχω προφιλ</button>
    <form id="user-signup-area" method="POST" action="/register/try">
        <fieldset>
            <legend>Στοιχεία σύνδεσης</legend>
            <label for="username-box">Όνομα χρήστη</label>
            <input name="reg_username" type="text" id="username-box" placeholder="Όνομα χρήστη"  required>
            <label for="password-box">Κωδικός χρήστη</label>
            <input name="reg_password" type="password" id="password-box" placeholder="Κωδικός χρήστη" required>
            <label for="validate-password-box">Επιβεβαίωση κωδικού χρήστη</label>
            <input name="reg_validate_password" type="password" id="validate-password-box" placeholder="Επιβεβαίωση κωδικού" required>
        </fieldset>
        <fieldset>
            <legend>Προσωπικά στοιχεία</legend>
            <label for="email-box">Διεύθυνση eMail</label>
            <input name="reg_email" type="email" id="email-box" placeholder="Διεύθυνση eMail" required>
            <label for="first-name-box">Όνομα</label>
            <input name="reg_first_name" type="text" id="first-name-box" placeholder="Όνομα" required>
            <label for="last-name-box">Επώνυμο</label>
            <input name="reg_last_name" type="text" id="last-name-box" placeholder="Επώνυμο" required>
            <label for="phone-box">Τηλέφωνο επικοινωνίας</label>
            <input name="reg_phone" type="tel" id="phone-box" placeholder="Τηλέφωνο επικοινωνίας" required>
            <label for="address-box">Διεύθυνση</label>
            <input name="reg_address" type="text" id="address-box" placeholder="Διεύθυνση" required>
        </fieldset>
        <button>Εγγραφή</button>
    </form>
</main>