<main>
    <form id="user-area">
        <fieldset>
            <legend>Στοιχεία σύνδεσης</legend>
            <label for="username-box">Όνομα χρήστη</label>
            <input type="text" id="username-box">
            <label for="password-box">Κωδικός χρήστη</label>
            <input type="password" id="password-box">
        </fieldset>
        <button>Σύνδεση</button>
    </form>
    <button>Εγγραφή</button>
</main>