{{!-- some temporary code to test login insered at the top --}}

<main>
    <form id="user-login-area" method="POST" action="/login/user">
        <!--
            add server side js to validate user and start session
            -->
        <fieldset>
            <legend>Στοιχεία σύνδεσης</legend>
            <label for="username-box">Όνομα χρήστη</label>
            <input name="username" type="text" id="username-box">
            <label for="password-box">Κωδικός χρήστη</label>
            <input name="password" type="password" id="password-box">
        </fieldset>
        <button>Σύνδεση</button>
    </form>
    <!--
        to do:
        add client-side js to 
            hide signup form and show upon button click
            validate email adress and form filling out
        add server-side js to create the user 
        -->
    <button id="not-registered">Δεν έχω προφιλ</button>
    <form id="user-signup-area">
        <fieldset>
            <legend>Στοιχεία σύνδεσης</legend>
            <label for="username-box">Όνομα χρήστη</label>
            <input type="text" id="username-box">
            <label for="password-box">Κωδικός χρήστη</label>
            <input type="password" id="password-box">
            <label for="validate-password-box">Επιβεβαίωση κωδικού χρήστη</label>
            <input type="password" id="validate-password-box">
        </fieldset>
        <fieldset>
            <legend>Προσωπικά στοιχεία</legend>
            <label for="first-name-box">Όνομα</label>
            <input type="text" id="first-name-box">
            <label for="last-name-box">Επώνυμο</label>
            <input type="text" id="last-name-box">
            <label for="phone-box">Τηλέφωνο επικοινωνίας</label>
            <input type="tel" id="phone-box">
            <label for="address-box">Διεύθυνση</label>
            <input type="text" id="address-box">
            <label for="email-box">Διεύθυνση eMail</label>
            <input type="email" id="email-box">
        </fieldset>
        <button>Εγγραφή</button>
    </form>
</main>