<main>
    <form id="user-area">
        <fieldset>
            <legend>Στοιχεία σύνδεσης</legend>
            <label for="username-box">Όνομα χρήστη</label>
            <input type="text" id="username-box">
            <label for="password-box">Κωδικός χρήστη</label>
            <input type="password" id="password-box">
            <button>Σύνδεση</button>
            <button>Εγγραφή</button>
        </fieldset>
    </form>
    <form id="ticket-area">
        <fieldset>
            <label for="ticket-searchbox">Κωδικός εισιτηρίου</label>
            <legend>Αναζήτηση ολοκληρωμένης αγοράς</legend>
            <input type="text" id="ticket-searchbox">
            <button>Αναζήτηση</button>
        </fieldset>
    </form>
    <form id="personal-area">
        <fieldset>
            <legend>Διόρθωση στοιχείων</legend>
        </fieldset>
    </form>
</main>