<main>
    <form id="ticket-area">
        <fieldset>
            <label for="ticket-searchbox">Κωδικός εισιτηρίου</label>
            <legend>Αναζήτηση ολοκληρωμένης αγοράς</legend>
            <input type="text" id="ticket-searchbox">
            <button>Αναζήτηση</button>
        </fieldset>
    </form>
    <form id="personal-area">
        <fieldset>
            <legend>Διόρθωση προσωπικών στοιχείων</legend>
            <button type="button"><a href="/logout">Logout</a></button>
        </fieldset>
    </form>
</main>