#user-area fieldset{
    display: grid;
    grid-template-columns: auto auto;
}

#admin-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    column-gap: 10px;
}
